body {
    background-color: rgb(18, 205, 18);
}

/* file choose menu */

.startmenu {
    background-color: rgb(18, 205, 18);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 90vh;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 9vw;
}

.startmenu * {
    margin: 2vw;
}

.startmenu h1 {
    font-size: 4em;
}

.startmenu input {
    font-size: 1.3em;
}

.startmenu button {
    font-size: 1.4em;
}

