/* 
bgc: #524F4D
add1: #a614d2
*/

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #524f4d;
}

.emptyDiv { 
    width: 100%;
    height: 190px;
    background-color: #524f4d;
}


footer {
    margin-top: 25px;
    background-color: red;
    height: 50px;
}